<div class="container app-bg">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item " role="presentation">
            <button class="nav-link rounded-0 active" id="Character-tab" data-bs-toggle="tab" data-bs-target="#character" type="button" role="tab"><div class="nav-text">Character</div></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="Weapons-tab" data-bs-toggle="tab" data-bs-target="#weapons" type="button" role="tab"><div class="nav-text">Weapons</div></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="Map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab"><div class="nav-text">Map</div></button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active fade" id="character" role="tabpanel" #characterscreen>
                    
                    <div class="character-info-container" #charinfo>
                        <p class="character-tag" id="" style="text-align: center;">
                            {{character}} - {{characterdeets["Real Name"]}}<br>
                            <span>{{characterdeets["Tagline"]}}</span>
                        </p>
                        <img src="../assets/legends/{{character}}.png" alt="{{character}}" class="char-image">
                        <table class="character-table">
                            <tr>
                                <td class="table-ability-name">{{characterdeets["Tactical Ability"]}}</td>
                                <td class="table-ability-image"><img src="../assets/legendability/{{character}}-tac.png" class="character-ability"></td>
                            </tr>
                            <tr>
                                <td class="table-ability-name">{{characterdeets["Passive Ability"]}}</td>
                                <td class="table-ability-image"><img src="../assets/legendability/{{character}}-pas.png" class="character-ability"></td>
                            </tr>
                            <tr>
                                <td class="table-ability-name">{{characterdeets["Ultimate Ability"]}}</td>
                                <td class="table-ability-image"><img src="../assets/legendability/{{character}}-ult.png" class="character-ability"></td>
                            </tr>
                        </table>
                    </div>
        </div>
        <div class="tab-pane fade" id="weapons" role="tabpanel" #weaponsscreen>
            <div class="row ">
                <div class="col-sm d-flex justify-content-center">
                    <div class="weapon-container my-4 ">
                        <img src="../assets/weapons/weaponborder.png" alt="weapon-border" class="weapon-border">
                        <p class="container-name">WEAPON 1</p>
                        <img src="../assets/weapons/{{weap1['Image']}}" alt="{{weap1['Name']}}" class="weapon-icon">
                        <span class="weapon-name">{{weap1["Name"]}}</span>
                        <div class="optic-container optic-{{optic1rarity}}">
                            <img src="../assets/optics/{{optic1}}.svg" alt="{{optic1}}" class="optic-icon">
                        </div>
                        <img src="../assets/ammotypes/{{weap1['Ammo Type']}}.svg" alt="Ammo" class="ammo-type">
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="weapon-container my-4">
                        <img src="../assets/weapons/weaponborder.png" alt="weapon-border" class="weapon-border">
                        <p class="container-name">WEAPON 2</p>
                        <img src="../assets/weapons/{{weap2['Image']}}" alt="{{weap2['Name']}}" class="weapon-icon">
                        <span class="weapon-name">{{weap2["Name"]}}</span>
                        <div class="optic-container optic-{{optic2rarity}}">
                            <img src="../assets/optics/{{optic2}}.svg" alt="{{optic2}}" class="optic-icon">
                        </div>
                        <img src="../assets/ammotypes/{{weap2['Ammo Type']}}.svg" alt="Ammo" class="ammo-type">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
            <p class="drop-name">{{currentdrop}}</p>
            <div #stormpoint class="map-container justify-content-center">
                <img id="stormpoint" class="apex-map" src="../assets/maps/Storm Point.png" usemap="#stormpointmap" alt="Storm Point"><br>
                <map name="stormpointmap">
                    <area id="antenna" shape="circle" coords="1171,1396, 87" href="#" alt="antenna">
                    <area id="fishfarms" shape="circle" coords="1620,1640, 120" href="#" alt="fishfarms">
                    <area id="launchpad" shape="circle" coords="1560,1280, 70" href="#" alt="launchpad">
                    <area id="cenotecave" shape="circle" coords="320,1420, 170" href="#" alt="cenotecave">
                    <area id="northpad" shape="circle" coords="500,328, 70" href="#" alt="northpad">
                    <area id="barometer" shape="circle" coords="700,1500, 100" href="#" alt="barometer">
                    <area id="shipfall" shape="circle" coords="1000,1800, 70" href="#" alt="shipfall">
                    <area id="commandcenter" shape="circle" coords="1330,620, 80" href="#" alt="commandcenter">
                    <area id="galestation" shape="circle" coords="1300,1660, 70" href="#" alt="galestation">
                    <area id="themill" shape="circle" coords="310,965, 70" href="#" alt="themill">
                    <area id="stormcatcher" shape="circle" coords="1510,820, 70" href="#" alt="stormcatcher">
                    <area id="cascadefalls" shape="circle" coords="1000,800, 100" href="#" alt="cascadefalls">
                    <area id="checkpoint" shape="circle" coords="630,670, 100" href="#" alt="checkpoint">
                    <area id="thewall" shape="circle" coords="1060,310, 100" href="#" alt="thewall">
                    <area id="highpoint" shape="circle" coords="1545,200, 70" href="#" alt="highpoint">
                    <area id="lightningrod" shape="circle" coords="1760,340, 70" href="#" alt="lightningrod">
                    <area id="thunderwatch" shape="circle" coords="1580,530, 70" href="#" alt="thunderwatch">
                </map>
            </div>
            <div #kingscanyon class="map-container">
                <img id="kingscanyon" class="apex-map" src="../assets/maps/Kings Canyon.png"  usemap="#kingscanyonmap" alt="Kings Canyon"><br>
                <map name="kingscanyonmap">
                    <area id="crashsite" shape="circle" coords="800,150, 70" href="#" alt="crashsite">
                    <area id="artillery" shape="circle" coords="1090,350, 70" href="#" alt="artillery">
                    <area id="spottedlake" shape="circle" coords="480,500, 70" href="#" alt="spottedlake">
                    <area id="runoff" shape="circle" coords="320,810, 70" href="#" alt="runoff">
                    <area id="thepit" shape="circle" coords="529,715, 70" href="#" alt="thepit">
                    <area id="airbase" shape="circle" coords="318,1130, 90" href="#" alt="airbase">
                    <area id="gauntlet" shape="circle" coords="415,1400, 70" href="#" alt="gauntlet">
                    <area id="salvage" shape="circle" coords="796,1450, 70" href="#" alt="salvage">
                    <area id="bunker" shape="circle" coords="717,960, 70" href="#" alt="bunker">
                    <area id="market" shape="circle" coords="993,1360, 70" href="#" alt="market">
                    <area id="containment" shape="circle" coords="816,650, 70" href="#" alt="containment">
                    <area id="caustictreatment" shape="circle" coords="1137,1815, 100" href="#" alt="caustictreatment">
                    <area id="repulsor" shape="circle" coords="1560,1470, 80" href="#" alt="repulsor">
                    <area id="hydrodam" shape="circle" coords="1570,1246, 90" href="#" alt="hydrodam">
                    <area id="thecage" shape="circle" coords="1328,1130, 60" href="#" alt="thecage">
                    <area id="labs" shape="circle" coords="1630,1000, 70" href="#" alt="labs">
                    <area id="capacitor" shape="circle" coords="1510,760, 120" href="#" alt="capacitor">
                    <area id="brokenrelay" shape="circle" coords="1600,480, 100" href="#" alt="brokenrelay">
                    <area id="therig" shape="circle" coords="1842,561, 70" href="#" alt="therig">
                    <area id="swamps" shape="circle" coords="1850,1090, 100" href="#" alt="swamps">
                </map>
            </div>
            <div #olympus class="map-container">
                <img id="olympus" class="apex-map" src="../assets/maps/Olympus.png" usemap="#olympusmap" alt="Olympus"><br>
                <map name="olympusmap">
                    <area id="hammondlabs" shape="circle" coords="1066,1129, 50" href="#" alt="hammondlabs">
                    <area id="turbine" shape="circle" coords="909,846, 70" href="#" alt="turbine">
                    <area id="rift" shape="circle" coords="1324,535, 190" href="#" alt="rift">
                    <area id="powergrid" shape="circle" coords="1034,612, 70" href="#" alt="powergrid">
                    <area id="fightnight" shape="circle" coords="805,612, 70" href="#" alt="fightnight">
                    <area id="docks" shape="circle" coords="765,360, 150" href="#" alt="docks">
                    <area id="carrier" shape="circle" coords="606,600, 70" href="#" alt="carrier">
                    <area id="oasis" shape="circle" coords="422,804, 80" href="#" alt="oasis">
                    <area id="estates" shape="circle" coords="656,1082, 70" href="#" alt="estates">
                    <area id="elysium" shape="circle" coords="220,1313, 77" href="#" alt="elysium">
                    <area id="hydroponics" shape="circle" coords="430,1450, 100" href="#" alt="hydroponics">
                    <area id="phasedriver" shape="circle" coords="780,1606, 80" href="#" alt="phasedriver">
                    <area id="bonsaiplaza" shape="circle" coords="1102,1839, 100" href="#" alt="bonsaiplaza">
                    <area id="icarus" shape="circle" coords="1386,1724, 70" href="#" alt="icarus">
                    <area id="orbitalcannon" shape="circle" coords="1672,1510, 100" href="#" alt="orbitalcannon">
                    <area id="solararray" shape="circle" coords="1246,1500, 100" href="#" alt="solararray">
                    <area id="terminal" shape="circle" coords="926,1332, 60" href="#" alt="terminal">
                    <area id="growtowers" shape="circle" coords="1580,1190, 155" href="#" alt="growtowers">
                    <area id="gardens" shape="circle" coords="1546,900, 80" href="#" alt="gardens">
                    <area id="energydepot" shape="circle" coords="1217,900, 100" href="#" alt="energydepot">
                </map>
            </div>
            <div #worldsedge class="map-container">
                <img id="worldsedge" class="apex-map" src="../assets/maps/World's Edge.png" usemap="#worldsedgemap" alt="World's Edge"><br>
                <map name="worldsedgemap">
                    <area id="trials" shape="circle" coords="441,467, 50" href="#" alt="Trials">
                    <area id="skyhook" shape="circle" coords="733,409, 170" href="#" alt="SkyHook">
                    <area id="countdown" shape="circle" coords="595,730, 100" href="#" alt="Countdown">
                    <area id="lavafissure" shape="circle" coords="396,780, 70" href="#" alt="Lava Fissure">
                    <area id="landslide" shape="circle" coords="730,950, 70" href="#" alt="Landslide">
                    <area id="staging" shape="circle" coords="610,1210, 70" href="#" alt="Staging">
                    <area id="thermalstation" shape="circle" coords="566,1490, 70" href="#" alt="Thermal Station">
                    <area id="harvester" shape="circle" coords="964,1280, 70" href="#" alt="Harvester">
                    <area id="tree" shape="circle" coords="851,1695, 70" href="#" alt="Tree">
                    <area id="lavasiphon" shape="circle" coords="1195,1511, 70" href="#" alt="Lava Siphon">
                    <area id="launchsite" shape="circle" coords="1120,1846, 70" href="#" alt="Launch Site">
                    <area id="thedome" shape="circle" coords="1467,1900, 70" href="#" alt="The Dome">
                    <area id="lavacity" shape="circle" coords="1600,1660, 70" href="#" alt="Lava City">
                    <area id="bigmaude" shape="circle" coords="1660,1506, 70" href="#" alt="Big Maude">
                    <area id="geyser" shape="circle" coords="1573,1243, 70" href="#" alt="Geyser">
                    <area id="overlook" shape="circle" coords="1740,840, 70" href="#" alt="Overlook">
                    <area id="fragmenteast" shape="circle" coords="1296,920, 70" href="#" alt="Fragment East">
                    <area id="fragmentwest" shape="circle" coords="1113,804, 70" href="#" alt="Fragment West">
                    <area id="theepicenter" shape="circle" coords="1300,570, 70" href="#" alt="The Epicenter">
                    <area id="surveycamp" shape="circle" coords="1150,415, 70" href="#" alt="Survey Camp">
                    <area id="climatizer" shape="circle" coords="1473,390, 70" href="#" alt="Climatizer">
                </map>
            </div>
        </div>
    </div>
    <button (click)="randomiser()" class="apex-random-button my-4">RANDOMISE</button>
</div>